<h1>Users</h1>
<% @users.each do |user| %>
    <p>
    <a href="/user/<%= user.id %>"><%= user.first_name %> <%= user.last_name %></a><br/>
    <%= user.email %><br/>
    <a href="/new_link/<%= user.id %>">New Link</a>
    </p>
<% end %>
<a href="/new_user">New User</a>
<br/><br/>
<span id="balls">Some balls here.</span>

<script type="text/javascript">
	require(['hansel']);
</script>