Campaign URL: <%= @link.campaign_url %><br/>
Campaign Source: <%= @link.campaign_source %><br/>
Campaign Medium: <%= @link.campaign_medium %><br/>
Campaign Term: <%= @link.campaign_term %><br/>
Campaign Content: <%= @link.campaign_content %><br/>
Campaign Name: <%= @link.campaign_name %><br/>
Account ID: <%= @link.account_id %><br/><br/>

<a href="/">All users</a>